.form-box{
    width: 100%;
    max-width: 320px;
}
body{
    display: flex;
    justify-content: center;
    padding: 40px;
    font-family: sans-serif;
}
form{
    width: 100%;
}
input,button{
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px
}
button{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}
button:hover{
    background-color: #003bff;
}
label{
    color: #007bff;
}
h2{
    color: #003bff;
}
input{
    border-color: #003bff;
}